<!-- Footer -->
<footer class="section" style="
        background-color:#494949;

        min-height:70px;
        color:#F0FFF0;">
  <div class="container footer-container">
    <div style="width:29vw; display:inline-block; text-align:left; padding-left:15px;">
      <span style=" vertical-align: middle;">Designed and built by <a href="#" style="font-size:inherit;font-weight:bold;">Brandon Smith</a></span>
    </div>
    <div style="width:38vw; display:inline-block; height:100%; text-align:center;">
      <a href="/" style="text-transform:uppercase;font-size:1.3rem; vertical-align: middle;">Home</a> |
      <a href="/beans" style="text-transform:uppercase;font-size:1.3rem; vertical-align: middle;">Coffee</a> |
      <a href="/brews" style="text-transform:uppercase;font-size:1.3rem; vertical-align: middle;">Beer</a> |
      <a href="/contact" style="text-transform:uppercase;font-size:1.3rem; vertical-align: middle;">Contact</a>
    </div>
    <div style="width:29vw; display:inline-block; text-align:right; height:100%;">
      <a class="social-link" href="https://www.facebook.com/beansbrewsaustin" target="_blank" style="margin-right:10px;"><i class="fa fa-facebook-official"></i></a>
      <a class="social-link" href="https://twitter.com/BeansBrewsAustin" target="_blank" style="margin-right:10px;"><i class="fa fa-twitter-square"></i></a>
    </div>
  </div>

  <!-- JavaScript -->
  <script src="js/velocity.min.js"></script>
  <script src="js/page-fade.js"></script>
</footer>
