<!-- Head -->
<head>
  <title>Beans And Brews</title>
  <!-- Meta data -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link href="img/favicon.ico" rel="icon" type="image/x-icon" />

  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Oswald|Bad+Script' rel='stylesheet' type='text/css'>

  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
