<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "./partials/head.html" %}

  <!-- Body -->
  <body class="beans-page fadein">

    <!-- Navigation -->
    <div class="section nav-section" style="
            padding:20px 0px;">
      <div class="container" style="">
        <a class="nav-link back-link fade-link" href="javascript:history.back(1)">
          <i class="fa fa-angle-left" style="display:inline-block; margin-right:10px;"></i>
          Back
        </a>
      </div>
    </div>

    <div class="background-image" style="
            height:886px;
            top:0;
            background-color: cornsilk;
            background-image:url('img/drip-coffee-1920x1296.jpg');
            background-position:top;
            /*-webkit-filter:sepia(60%);*/"></div>
    <div class="section" style="
            padding: 30px 0px;
            background-color: cornsilk;">

      <!-- Blurb -->
      <div class="container" style="">
        <h2 style="
                color:#494949;
                ">
          Our Coffee</h2>
        <p style="
                color:#696969;">
          Visit or give us a call to find out what our brewed coffee of the day
          and our available espresso roasts are. We're constantly changing them
          to keep things fresh and to make sure our customers have a new
          adventure every time they walk in.
        </p>
      </div>

    </div>


    <div class="section" style="
              height: calc(100% - 200px);
              padding: 30px 0px;
              background-color: cornsilk;">
      <!-- Menu -->
      <div class="container menu" style="
              margin-bottom:70px;">
        <h3>
          Hot Espresso
        </h3>
        <div class="menu-row">
          <div class="name-column">Latte</div>
          <div class="price-column">4.00</div>
        </div>
        <div class="menu-row">
          <div class="name-column">Mocha</div>
          <div class="price-column">4.25</div>
        </div>
        <div class="menu-row">
          <div class="name-column">Cappuccino</div>
          <div class="price-column">4.00</div>
        </div>
        <div class="menu-row">
          <div class="name-column">Americano</div>
          <div class="price-column">2.75</div>
        </div>
        <div class="menu-row">
          <div class="name-column">Espresso</div>
          <div class="price-column">2.50</div>
        </div>
        <div class="menu-row">
          <div class="name-column">Cubano</div>
          <div class="price-column">3.00</div>
        </div>
      </div>

      <div class="container menu" style="
              margin-bottom:70px;">
        <h3>
          Cold Espresso
        </h3>
        <div class="menu-row">
          <div class="name-column">Iced Latte</div>
          <div class="price-column">4.00</div>
        </div>
        <div class="menu-row">
          <div class="name-column">Iced Mocha</div>
          <div class="price-column">4.25</div>
        </div>
        <div class="menu-row">
          <div class="name-column">Iced Americano</div>
          <div class="price-column">2.75</div>
        </div>
        <div class="menu-row">
          <div class="name-column">Iced Espresso</div>
          <div class="price-column">2.50</div>
        </div>
      </div>


      <div class="container menu" style="
              margin-bottom:70px;">
        <h3>
          Hot Coffee
        </h3>
        <div class="menu-row">
          <div class="name-column">Coffee of the day</div>
          <div class="price-column">2.25-2.75</div>
        </div>
        <div class="menu-row">
          <div class="name-column">Café Au Lait</div>
          <div class="price-column">3.00-3.50</div>
        </div>
      </div>


      <div class="container menu" style="
              margin-bottom:70px;">
        <h3>
          Cold Brewed Coffee
        </h3>
        <div class="menu-row">
          <div class="name-column">Iced Coffee</div>
          <div class="price-column">3.25-3.75</div>
        </div>
        <div class="menu-row">
          <div class="name-column">Iced Café Au Lait</div>
          <div class="price-column">3.50-4.00</div>
        </div>
      </div>

    </div>

    <!-- Footer -->
    {% include "./partials/footer.html" %}
  </body>
</html>
