<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "./partials/head.html" %}

  <!-- Body -->
  <body class="brews-page fadein">

    <!-- Navigation -->
    <div class="section nav-section" style="
            padding:20px 0px;">
      <div class="container" style="">
        <a class="nav-link back-link fade-link" href="javascript:history.back(1)">
          <i class="fa fa-angle-left" style="display:inline-block; margin-right:10px;"></i>
          Back
        </a>
      </div>
    </div>

    <div class="background-image" style="
            height:886px;
            top:0;
            background-color: cornsilk;
            background-image:url('img/drip-coffee-1920x1296.jpg');
            background-position:top;
            /*-webkit-filter:sepia(60%);*/"></div>
    <div class="section" style="
            padding: 30px 0px;
            background-color: cornsilk;">

      <!-- Blurb -->
      <div class="container" style="">
        <h2 style="
                color:#494949;
                ">
          Our Beers</h2>
        <p style="
                color:#696969;">
          We always keep at least a dozen beers on tap, including everything from undiscovered local brews
          to seasonals and classics.
        </p>
      </div>

    </div>


    <div class="section" style="
              height: calc(100% - 200px);
              padding: 30px 0px;
              background-color: cornsilk;">
      <!-- Menu -->
      <div class="container menu" style="
              margin-bottom:70px;">
        <h3>
          IPAs
        </h3>
        <div class="menu-row">
          <div class="name-column">(512) IPA</div>
          <div class="abv-column">7.0% ABV</div>
          <div class="price-column">6.00</div>
        </div>
        <div class="menu-row">
          <div class="name-column">Thirsty Planet Bucket Head IPA</div>
          <div class="abv-column">8.9% ABV</div>
          <div class="price-column">6.00</div>
        </div>
        <div class="menu-row">
          <div class="name-column">Stone Ruinten Triple IPA</div>
          <div class="abv-column">10.8% ABV</div>
          <div class="price-column">5.00</div>
        </div>
        <div class="menu-row">
          <div class="name-column">Stone Delicious IPA</div>
          <div class="abv-column">7.7% ABV</div>
          <div class="price-column">6.00</div>
        </div>
        <div class="menu-row">
          <div class="name-column">SanTan MoonJuice</div>
          <div class="abv-column">7.3% ABV</div>
          <div class="price-column">6.00</div>
        </div>
      </div>

      <div class="container menu" style="
              margin-bottom:70px;">
        <h3>
          Blonde Ales
        </h3>
        <div class="menu-row">
          <div class="name-column">Deschutes Twilight Summer Ale</div>
          <div class="abv-column">5.0% ABV</div>
          <div class="price-column">5.00</div>
        </div>
        <div class="menu-row">
          <div class="name-column">Guadalupe Texas Honey Ale</div>
          <div class="abv-column">7.3% ABV</div>
          <div class="price-column">6.00</div>
        </div>
        <div class="menu-row">
          <div class="name-column">Shiner Light Blonde</div>
          <div class="abv-column">4.2% ABV</div>
          <div class="price-column">5.00</div>
        </div>
      </div>


      <div class="container menu" style="
              margin-bottom:70px;">
        <h3>
          Stouts
        </h3>
        <div class="menu-row">
          <div class="name-column">Saint Arnold Pumpkinator</div>
          <div class="abv-column">10.0% ABV</div>
          <div class="price-column">6.00</div>
        </div>
      </div>


      <div class="container menu" style="
              margin-bottom:70px;">
        <h3>
          Lagers
        </h3>
        <div class="menu-row">
          <div class="name-column">Upslope Craft-Style Lager</div>
          <div class="abv-column">4.5% ABV</div>
          <div class="price-column">5.50</div>
        </div>
        <div class="menu-row">
          <div class="name-column">Ballast Point Longfin Lager</div>
          <div class="abv-column">4.5% ABV</div>
          <div class="price-column">6.00</div>
        </div>
        <div class="menu-row">
          <div class="name-column">Hops & Grain -The One They Call Zoe</div>
          <div class="abv-column">5.1% ABV</div>
          <div class="price-column">6.00</div>
        </div>
        <div class="menu-row">
          <div class="name-column">Lagunitas Pils</div>
          <div class="abv-column">6.0% ABV</div>
          <div class="price-column">5.50</div>
        </div>
        <div class="menu-row">
          <div class="name-column">Live Oak Big Bark</div>
          <div class="abv-column">4.9% ABV</div>
          <div class="price-column">5.50</div>
        </div>
      </div>

    </div>

    <!-- Footer -->
    {% include "./partials/footer.html" %}
  </body>
</html>
