<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "./partials/head.html" %}

  <!-- Body -->
  <body class="fadein single-section">

    <!-- Navigation -->
    <div class="section nav-section" style="
            padding:20px 0px;">
      <div class="container" style="">
        <a class="nav-link back-link fade-link" href="javascript:history.back(1)">
          <i class="fa fa-angle-left" style="display:inline-block; margin-right:10px;"></i>
          Back
        </a>
      </div>
    </div>

    <div class="background-image" style="
            height:886px;
            max-height:100%;
            top:0;
            background-color: cornsilk;
            background-image:url('img/drip-coffee-1920x1296.jpg');
            background-position:top;
            /*-webkit-filter:sepia(60%);*/"></div>
    <div class="section" style="
            min-height: calc(100vh - 156px);
            padding: 70px 0px;
            background-color: cornsilk;">

      <!-- Contact info -->
      <div class="container" style="
              margin-bottom:70px;">
        <h2 style="
                color:#494949;
                margin-bottom:40px;
                ">
          Contact Us</h2>

        <address class="contact-info" style="
                  max-width:800px;
                  margin:0 auto;
                  font-weight:bold;
                  font-size:1.4rem;">
          <div class="left-col">
            <a href="tel:9727628513">
              <i class="fa fa-phone" style="width:20px;"></i> (972) 762-8513
            </a><br>
            <a href="mailto:brandon.smith.945@gmail.com">
              <i class="fa fa-envelope" style="width:20px;"></i> info@beansandbrews.com
            </a><br>
            <i class="fa fa-clock-o" style="width:20px;"></i> Hours: Weekdays 7am-10pm
            <br>
            <span style="margin-left:25px;">Weekends 10am-9pm</span>
          </div>
          <div class="right-col">
            <a href="https://www.google.com/maps/place/1234+N+Lamar+Blvd+Austin+TX+78703" target="_blank">
              Beans & Brews<br>
              1234 N Lamar Blvd.<br>
              Austin, TX 78703
            </a>
          </div>
        </address>
      </div>

    </div>

    <!-- Footer -->
    {% include "./partials/footer.html" %}
  </body>
</html>
