<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "./partials/head.html" %}

  <!-- Body -->
  <body class="fadein">

    <!-- Navigation -->
    <div class="section nav-section" style="
            padding:20px 0px;">
      <div class="container" style="">
        <a class="nav-link" onclick="Velocity(document.getElementById('beans'), 'scroll');" href="javascript:void(0)">The Beans<i class="fa fa-angle-down"></i></a>
        <a class="nav-link" onclick="Velocity(document.getElementById('brews'), 'scroll');" href="javascript:void(0)">The Brews<i class="fa fa-angle-down"></i></a>
        <a class="nav-link" onclick="Velocity(document.getElementById('venue'), 'scroll');" href="javascript:void(0)">The Venue<i class="fa fa-angle-down"></i></a>
      </div>
    </div>

    <!-- Hero -->
    <div class="background-image" style="
            height:910px;
            top:0;
            background-color: cornsilk;
            background-image:url('img/drip-coffee-1920x1296.jpg');
            background-position:top;
            /*-webkit-filter:sepia(80%);*/"></div>
    <div class="section hero" style="
            max-height:800px;
            height: 130vw;
            padding: 50px 0px;
            color:linen;">
      <div class="container">
        <h1>
          <span class="beans-font">Beans</span>
          &
          <span class="brews-font">Brews</span>
        </h1>
      </div>

      <a class="nav-link contact-link fade-link" href="/contact">Contact us</a>
    </div>


    <!-- Main content -->
    <div class="section" style="
            padding: 70px 0px;
            background-color: cornsilk;">

      <!-- The Beans -->
      <div class="container" id="beans" style="
              margin-bottom:70px;
              min-height: 275px;">
        <h2 class="beans-font" style="
                color:#494949;
                text-align:left;
                ">
          The Beans</h2>
        <div class="thumbnail" style="
                float:left;
                background-image:url('img/beans-800x568.jpg');
                margin-right:20px;"></div>
        <p>
          Our coffee experts work hard to select only the very best beans from the very best sources.
          Every bean we use comes from a Fair Trade Certified business, supporting farmers who are
          as proud of their work as we are. We also make a point to buy much of our supply locally,
          helping to feed back into the city we love so much.
          <!--
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        -->
        </p>
        <div style="width:100%; text-align:right;">
          <a class="fade-link" href="/beans">Our menu <i class="fa fa-angle-right" style="margin-left:5px; display:inline-block;"></i></a>
        </div>
      </div>

      <!-- The Brews -->
      <div class="container" id="brews" style="
              margin-bottom:100px;
              min-height: 275px;">
        <h2 class="brews-font" style="
                color:#494949;
                text-align:right;
                ">
          The Brews</h2>
        <div class="thumbnail" style="
                float:right;
                background-image:url('img/brews-800x400.jpg');
                margin-left:20px;"></div>
        <p>
          From local craft beers to foreign imports, light and snappy to dark and hoppy, our on-tap
          selection includes something for everyone. Alongside the year-round classics we rotate
          in seasonal specialties, ensuring that the very best is always available.
          We also keep on hand a couple of new local brews that our on-staff experts have tracked
          down, which we're continually evaluating for addition to our main selection.
          <!--
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        -->
        </p>
        <div style="width:100%; text-align:right;">
          <a class="fade-link" href="/brews">Our beers <i class="fa fa-angle-right" style="margin-left:5px; display:inline-block;"></i></a>
        </div>
      </div>
    </div>

    <!-- The Venue -->
    <div class="background-image" style="
            position:fixed;
            z-index:-200;
            bottom:0px;
            height:1000px;
            background-image:url('img/venue-1920x1440-blur.jpg');
            background-position:top;
            /*-webkit-filter:sepia(10%) contrast(65%);*/"></div>
    <div class="section" id="venue" style="
            min-height: 500px;
            max-height:800px;
            height: 130vw;
            padding: 50px 0px;
            color:linen;">
      <div class="container">
        <h1 class="beans-font" style"
                  margin-bottom: 20px;">
          The Venue
        </h1>
        <p style="
                  color:linen;
                  font-size: 1.5rem;
                  text-align: center;
                  ">
          Enjoy your beverage of choice while listening to Austin's finest in our
          award-winning back yard music hall. The outdoor bar and a warm atmosphere
          make for a space that feels like home where you're always welcome and the beer
          and music are always good.
          <!--
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        -->
        </p>
      </div>
    </div>

    <!-- Footer -->
    {% include "./partials/footer.html" %}
  </body>
</html>
