
/* Broad */
* {
  box-sizing: border-box;
  font-family: 'arial';
}

html {
  font-size:100%;
  height:100%;
  color:#494949;
}
body {
  margin: 0px;
  background-color:white;
  min-height:100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  -webkit-font-smoothing: subpixel-antialiased;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 12vw;/*6rem;*/
}
h2 {
  font-size:2.5rem;
}
h3 {
  margin-bottom:15px;
}
p {
  color:#696969;
  margin: 0px;
  font-size:1.3rem;
}
a {
  color:#3c352d;
  font-weight:bold;
  text-decoration:none;
  font-size:1.4rem;
}
address {
  font-style: normal;
}
.menu {
  display:block;
  width:100%;

  font-size:1.4rem;
}
.menu .menu-row {
  display:block;
  width:100%;
  white-space: nowrap;
  margin-bottom:20px;
}
.menu .menu-row .name-column,
.menu .menu-row .abv-column,
.menu .menu-row .price-column {
  display:inline-block;
  width:50%;
}
.menu .menu-row .name-column {
  text-align:left;
  font-weight: bold;
}
.menu .menu-row .price-column {
  text-align: right;
}
.beans-page .menu .menu-row .name-column,
.beans-page .menu .menu-row .price-column {
  width:50%;
}
.brews-page .menu .menu-row .abv-column,
.brews-page .menu .menu-row .price-column {
  width:24%;
  text-align:right;
}

footer a {
  color:inherit;
  font-weight:normal;
}
footer .footer-container {
    max-width:100%;
    height:100%;
    vertical-align:middle;
    padding: 20px 0;
    line-height:46px;
}
footer .social-link i {
    font-size:44px;
}

/* Element types */
body.single-section {
  height:100%;
}
.section {
  display: block;
  width:100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 800px;
}
.thumbnail {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display:block;
  width:300px;
  height:200px;
  margin-bottom:15px;

  border-radius:5px;
}
.background-image {
  position: absolute;
  width: 100%;
  z-index: -100;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.nav-section {
  min-height:86px;
  background-color: rgba(0, 0, 0, 0.3);
}
.nav-link {
  color:linen;
  text-decoration: none;
  text-transform:uppercase;
  width:32%;
  text-align:center;
  opacity:0.8;
  transition: opacity 0.3s ease-out;
  display:inline-block;
  font-size:1.3rem;
  font-weight:normal;
}
.nav-link:hover {
  opacity:1.0;
}
.nav-link i {
  display:block;
}
.back-link,
.contact-link {
    height: 86px;
    line-height: 86px;
    display:block;
    width:auto;
    position:absolute;
    top:0px;
}
.back-link {
    left:25px;
}
.contact-link {
    right:25px;
}

.left-col,
.right-col {
  width:49%;
  display:inline-block;
}
.right-col {
   text-align:right;
}

/* Media Queries */

/* Desktop - large */
@media (min-width:1200px) {
  h1 {
    font-size:6rem;
  }
}
/* Desktop - small */
@media (min-width:992px) and (max-width:1200px) {
  h1 {
    font-size:6rem;
  }
}
/* Tablet */
@media (min-width:768px) and (max-width:992px) {
    /*
  .contact-link {
    position:inherit;
    display:block;
    font-weight:bold;
    opacity:1.0;
  }
  .contact-link::before {
      content:'';
      display:inline-block;
      height:0px;
      width:500px;
      border-top:2px solid linen;
      vertical-align:middle;
      margin-right:15px;
  }*/
  .hero {
      position:relative;
  }
  .contact-link {
    position:absolute;
    top:auto;
    font-size:1.7rem;
    line-height: 1.7rem;
    height:auto;
    padding: 10px 15px;
    bottom:0px;
    right:0px;
    color: linen;
    border-radius:3px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: none;
    opacity:1.0;
  }
  footer .footer-container {
    line-height:normal;
  }
}
/* Phone */
@media (max-width:768px) {
  .thumbnail {
    width:100%;
  }
  .hero {
      position:relative;
  }
  .contact-link {
    position:absolute;
    top:auto;
    font-size:1.7rem;
    line-height: 1.7rem;
    height:auto;
    padding: 10px 15px;
    bottom:0px;
    right:0px;
    color: linen;
    border-radius:3px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: none;
    opacity:1.0;
  }
  .left-col,
  .right-col {
    display:block;
    width:100%;
    margin:0px;
    text-align:center;
  }
  .left-col {
    margin-bottom:15px;
  }
  h2 {
    text-align:center;
  }
  .brews-page .menu .menu-row .name-column {
    display:block;
    width:100%;
  }
  .brews-page .menu .menu-row .abv-column,
  .brews-page .menu .menu-row .price-column {
    width:49%;
  }
  .brews-page .menu .menu-row .abv-column {
    text-align:left;
  }
  footer .footer-container {
    line-height:normal;
  }
}

/* Utility */
.beans-font {
  font-family:'Bad Script';
}
.brews-font {
  font-family:'Oswald';
}

.fadeout {
  transition: opacity 0.3s linear;
  opacity:0;
}
.fadein {
  animation: fadein 0.3s linear 0s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
